# Files to ignore for remote repo.

# Object files and executables.
*.o
*.exe
*.out

# Finder generates these files on OSX.
.DS_Store

# Build folder for generated tests, etc.
build/

# For the emacs temporary files
*~
*.el
